.btn {
    position: relative;
    color: $gold-crayola;
    font-size: $fontSize-label-2;
    font-weight: $weight-bold;
    text-transform: uppercase;
    letter-spacing: $letterSpacing-5;
    max-width: max-content;
    border: 2px solid $gold-crayola;
    padding: 12px 45px;
    min-height: 58px;
    overflow: hidden;
    z-index: 1;

    cursor: pointer;

    display: flex;
    flex-direction: column;





    &--header,
    &--hero,
    &--about {

        position: relative;

        background-color: $gold-crayola;

        color: $smoky-black-1;



        &::before {
            position: absolute;
            content: '';
            bottom: 100%;
            left: 50%;
            width: 200%;
            transform: translateX(-50%);
            height: 200%;
            border-radius: $radius-circle;
            background-color: $smoky-black-1;
            transition: $transition-2;
            z-index: -1;


        }


        .text {
            transition: $transition-1;
        }

        .text-2 {
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            min-width: max-content;
            color: $white;
        }

        &:is(:hover, :focus-visible)::before {
            bottom: -50%;
        }

        &:is(:hover, :focus-visible) .text-1 {
            transform: translateY(-40px);
        }

        &:is(:hover, :focus-visible) .text-2 {
            top: 50%;
            transform: translate(-50%, -50%);
        }

    }


    &--hero,
    &--about {

        background-color: transparent;
        color: $gold-crayola;




        .text-2 {
            color: $smoky-black-1;
        }


        &::before {
            background-color: $gold-crayola;

        }
    }


    &--slider {

        display: flex;
        align-items: center;
        justify-content: center;



        padding: 12px 12px;
        transform: translateY(-50%) rotate(45deg) scale(0.6);


        @include xl {
            transform: translateY(-50%) rotate(45deg) scale(0.8);
        }

        transition: $transition-2;


        i {
            font-size: 28px;
            transform: rotate(-45deg);

            @include xl {
                transform: scale(1.2) rotate(-45deg);

            }
        }

        &:hover {
            transition: $transition-2;

            background-color: $gold-crayola;

            i {
                color: $black;
            }
        }
    }



}