/***************************Section Hero******************************/
/***************************Section Hero******************************/
/***************************Section Hero******************************/


.hero {

    margin-top: -22px;





    @include sm {
        margin-top: -54px;
    }




    .container {
        max-width: unset;
    }


    &__content {
        overflow: hidden;
    }





    &__slider {
        display: flex;
        flex-direction: column;
        gap: 20px;





    }

    &__bg {

        background: url('/assets/img/hero-slider-2.jpg');
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;

        position: absolute;
        left: 0;
        top: -50px;

        background-color: red;
        width: 100%;
        height: 100vh;

        z-index: -1;


        @keyframes smoothScale {
            0% {
                transform: scale(1);
            }

            100% {
                transform: scale(1.15);


            }


        }
    }

    &__image {
        position: absolute;
        z-index: 2;
        bottom: 15px;
        right: 15px;
        background-color: $gold-crayola;
        height: fit-content;
        width: 110px;
        height: 110px;
        padding: 12px;
    }

    &__slide {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        opacity: 0;
        visibility: hidden;


        padding: 120px 0;







        &.active {
            opacity: 1;
            visibility: visible;



            .hero__bg {
                animation: smoothScale 7s linear forwards;
            }

        }
    }

    &__button {
        display: none;
    }

    .img-cover {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .slide {


        &__subtitle {
            color: $gold-crayola;
            text-transform: uppercase;
            font-weight: $weight-bold;
            font-size: 1.2rem;
            letter-spacing: $letterSpacing-2;
            margin-bottom: 20px;


            margin-top: 80px;

            @include sm {
                margin-bottom: 20px;
            }

            &::after {
                content: url('/assets/img/separator.svg');
                display: block;
                margin: 20px 0;
                width: 100px;
                margin-inline: auto;
            }
        }

        &__title {
            color: $white;
            font-size: 3.4rem;
            margin-bottom: 10px;
            max-width: 280px;

            @include sm {
                font-size: 6.4rem;
                max-width: 480px;
            }


        }

        &__p {
            font-size: $fontSize-body-2;
            text-align: unset;
            margin-bottom: 60px;
            min-width: 400px;

            @include sm {
                font-size: 2.2rem;

            }
        }


    }



}