.slider-reveal {
    transform: translateY(30px);
    opacity: 0;

    @include sliderReveal;

}




/***************************Section Hero******************************/
/***************************Section Hero******************************/
/***************************Section Hero******************************/


.hero {

    margin-top: -22px;

    position: relative;
    padding-top: 120px;
    height: 100vh;
    overflow: hidden;
    z-index: 1;

    width: 100%;

    position: relative;



    @include sm {
        margin-top: -54px;
    }






    .container {
        max-width: unset;
    }


    &__content {
        position: relative;

    }




    &__slider {
        display: flex;
        flex-direction: column;
        gap: 20px;



    }



    &__bg {

        background-image: url('../img/hero-slider-1.jpg');
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;




        position: absolute;
        left: 0;
        top: 0;


        width: 100%;
        height: 100vh;

        overflow: hidden;

        max-width: 1880px;
        max-height: 950px;

        transform: scale(1.15);

        z-index: -1;


        @include smoothScale;

        &--2 {
            background-image: url('../assets/img/hero-slider-2.jpg');
        }

        &--3 {
            background-image: url('../img/hero-slider-3.jpg');
        }


    }


    &__image {


        position: absolute;
        z-index: 2;
        bottom: 20px;
        right: 42px;
        background-color: $gold-crayola;
        height: fit-content;
        width: 120px;
        height: 120px;
        padding: 12px;
        transform: scale(0.6);

        display: flex;
        justify-content: center;
        align-items: center;



        @include md {

            transform: scale(0.8);
            bottom: 40px;

        }

        @include lg {
            transform: scale(1);
            bottom: 60px;

        }

        &::after {
            position: absolute;
            content: '';
            inset: 0;
            border: 1px solid $gold-crayola;
            animation: rotate360 15s linear infinite;
        }


        img {
            margin-inline: auto;
            margin-block-end: 8px;
        }

        span {
            font-size: 1.6rem;
            color: $black;
            font-weight: $weight-bold;
            text-transform: uppercase;
            letter-spacing: $letterSpacing-1;
            line-height: $lineHeight-2;
            text-align: center;
        }



        @include rotate360;
    }

    &__slide {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        opacity: 0;
        visibility: hidden;


        padding: 125px 0;





        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        transition: $transition-3;
        z-index: 1;



        &.active {
            opacity: 1;
            visibility: visible;





            //Aniamtion
            .hero__bg {
                animation: smoothScale 7s linear forwards;
            }

            .slider-reveal {
                animation: sliderReveal 1s ease forwards;
            }

            .slide__subtitle {
                animation-delay: 500ms;
            }

            .slide__title {
                animation-delay: 1000ms;

            }

            .slide__p {
                animation-delay: 1500ms;
            }

            .btn {
                animation-delay: 2000ms;
            }





        }
    }

    &__button {
        display: none;


        @include md {
            display: inline-flex;
            height: fit-content;
            justify-content: space-between;
            flex-direction: row;
            width: calc(100% - 40px);

            margin: 0 20px;

            position: absolute;

            top: 50%;

        }

        @include xl {
            margin: 0 30px;
            width: calc(100% - 60px);
        }
    }


    .slide {


        &__subtitle {
            color: $gold-crayola;
            text-transform: uppercase;
            font-weight: $weight-bold;
            font-size: 1.2rem;
            letter-spacing: $letterSpacing-2;
            margin-bottom: 20px;


            margin-top: 70px;

            @include sm {
                margin-bottom: 20px;


            }

            @include md {
                font-size: 1.6rem;
                margin-top: 140px;
            }

            @include lg {
                margin-top: 80px;
            }

            &::after {
                content: url('../img/separator.svg');
                display: block;
                margin: 20px 0;
                width: 100px;
                margin-inline: auto;
            }
        }

        &__title {
            color: $white;
            font-size: 3.4rem;
            margin-bottom: 10px;
            max-width: 280px;

            @include sm {
                font-size: 6.4rem;
                max-width: 480px;
            }

            @include md {
                font-size: 7rem;
                max-width: 580px;

            }

            @include lg {
                max-width: 880px;
                margin-bottom: 20px;
            }

            @include xl {
                font-size: 10rem;

            }

            @include xxl {
                font-size: 12rem;
                max-width: 980px;

            }



        }

        &__p {
            font-size: $fontSize-body-2;
            text-align: unset;
            margin-bottom: 40px;
            min-width: 400px;

            @include sm {
                font-size: 2.2rem;

            }
        }


    }





}

.l {
    margin-top: 00px;
    background-color: red;
}