/***************************Section Footer******************************/
/***************************Section Footer******************************/
/***************************Section Footer******************************/

.footer {

    background-image: url('../img/footer-bg.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;





    .container {
        max-width: 1260px !important;


    }


    &__content {

        margin: 0 5px;

        display: flex;
        flex-direction: column;
        gap: 40px;

        margin-bottom: 60px;

        @include md {
            flex-direction: row;
            flex-wrap: wrap;
        }

        @include lg {
            gap: 10px;
            justify-content: space-between;
        }
    }

    //Footer Wrapper Top

    &__top {
        background-image: url('../img/footer-form-bg.png');
        background-color: #010102;
        background-position: center top;
        background-repeat: repeat;
        padding: 50px 40px;
        position: relative;
        overflow: hidden;

        @include md {
            width: 100%;
        }

        @include lg {
            // width: calc(33% - 20px);
            flex-basis: calc(50% - 40px);
            padding-top: 120px;
        }


        &::after,
        &::before {
            position: absolute;
            content: url('../img/footer-form-pattern.svg');
            width: 15px;
            height: 100%;
            top: 0;
        }


        &::before {
            left: 0;
        }

        &::after {

            right: 0;
        }

        @include flex-center(column);
        text-align: center;


    }



    &__logo {
        margin-bottom: 40px;
    }

    &__p,
    &__link,
    &__phone {
        color: $quick-silver;
        line-height: $lineHeight-3;
        font-size: 1.7rem;
        margin-bottom: 6px;
    }

    &__link,
    &__phone {

        transition: $transition-2;
        cursor: pointer;

        &:hover {
            transition: $transition-2;
            color: $gold-crayola;
        }
    }

    .testimonials__separator {

        margin: 50px auto;
        justify-content: center;

    }

    &__title {
        font-family: $fontFamily-forum;
        font-weight: $weight-regular;
        line-height: $lineHeight-2;
        font-size: $fontSize-title-1;
    }

    &__subtitle {
        line-height: $lineHeight-3;
        font-family: $fontFamily-dm_sans;
        font-size: 1.6rem;
        color: $quick-silver;
        margin-bottom: 30px;

        display: flex;
        justify-content: center;


        span {
            margin-left: 5px;
            color: $white;
        }
    }




    .btn {
        max-width: unset;
        align-items: center;


        @include lg {
            width: 50%;
        }
    }


    //Form

    .form__wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;

        position: relative;

        @include sm {
            gap: 0;
            flex-direction: row;
        }



        .form__input {
            background-color: $eerie-black-2;
            color: $white;
            padding: 14px 20px 14px 40px;
            font-size: 20px;
            border: 1px solid $davys-grey;
            cursor: pointer;

            transition: $transition-2;

            &::placeholder {
                color: $white;
            }

            input {
                color: $white;
            }

            &:focus {
                border: 1px solid $gold-crayola;
            }


        }

        .icon__input {
            position: relative;

            @include lg {
                width: 50%;
            }
        }

        i {
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 18px;

        }

    }


    //Footer Table

    &__table {


        @include flex-center(column);
        gap: 20px;


        @include md {

            width: calc(50% - 20px);
        }

        @include lg {
            // width: calc(33% - 30px);
            flex-basis: 25%;

        }



    }

    &__list {

        @include hover-two-lines(0px);
    }



    //Footer bottom

    &__bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        padding-bottom: 120px;



        font-family: $fontFamily-dm_sans;
        font-size: $fontSize-body-4;
        font-weight: $weight-regular;
        color: $quick-silver;


        span {
            color: $gold-crayola;

        }
    }


    // Order Element
    .first {
        order: 2;

    }

    .second {
        order: 1;

    }

    .last {
        order: 3;
    }
}



//Back to Top Btn

.back-top {
    position: fixed;
    bottom: 24px;
    right: 24px;
    background-color: $gold-crayola;
    color: $black;
    font-size: 28px;
    padding: 14px;
    border-radius: 50%;


    .active {
        opacity: 1;
        visibility: visible;
    }

}