/***************************Section Footer******************************/
/***************************Section Footer******************************/
/***************************Section Footer******************************/

.footer {

    background-image: url('../img/footer-bg.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;


    .container {
        max-width: 1260px !important;


    }


    &__content {

        margin: 0 5px;
    }

    //Footer Wrapper Top

    &__top {
        background-image: url('../img/footer-form-bg.png');
        background-color: #010102;
        background-position: center top;
        background-repeat: repeat;
        padding: 50px 40px;
        position: relative;
        overflow: hidden;


        &::after,
        &::before {
            position: absolute;
            content: url('../img/footer-form-pattern.svg');
            width: 15px;
            height: 100%;
            top: 0;
        }


        &::before {
            left: 0;
        }

        &::after {

            right: 0;
        }

        @include flex-center(column);
        text-align: center;


    }



    &__logo {
        margin-bottom: 40px;
    }

    &__p,
    &__link,
    &__phone {
        color: $quick-silver;
        line-height: $lineHeight-3;
        font-size: 1.7rem;
        margin-bottom: 6px;
    }

    &__link,
    &__phone {

        transition: $transition-2;
        cursor: pointer;

        &:hover {
            transition: $transition-2;
            color: $gold-crayola;
        }
    }

    .testimonials__separator {

        margin: 50px auto;
        justify-content: center;

    }

    &__title {
        font-family: $fontFamily-forum;
        font-weight: $weight-regular;
        line-height: $lineHeight-2;
        font-size: $fontSize-title-1;
    }

    &__subtitle {
        line-height: $lineHeight-3;
        font-family: $fontFamily-dm_sans;
        font-size: 1.6rem;
        color: $quick-silver;
        margin-bottom: 30px;

        display: flex;
        justify-content: center;


        span {
            margin-left: 5px;
            color: $white;
        }
    }

    .form {

        &__wrapper {
            border: 2px solid red;
            background-color: transparent;

        }
    }


    .btn {
        max-width: unset;
    }


    .form__input {
        background-color: $eerie-black-2;
        color: $white;
        padding: 10px 20px 10px 15px;
        border: 1px solid $white-alpha-10;
        outline: none;
        transition: border-color $transition-2;

        cursor: pointer;

        margin-bottom: 20px;


        // -webkit-appearance: none; // dealete arrow
        // -moz-appearance: none;

        position: relative;


        &:focus {
            border: 3px solid $gold-crayola;
        }

        i {
            position: absolute;
            top: 50%;
            transform: translateY(50%);
            z-index: 2;
        }
    }



}