/**********************Preload**********************/
/**********************Preload**********************/
/**********************Preload**********************/


.preload {

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $gold-crayola;
    z-index: 10;

    transition: $transition-2;


    &>* {
        transition: $transition-1;
        transition-delay: 650ms;
    }

    &.loaded>* {
        opacity: 0;

    }

    &.loaded {
        transition-delay: 650ms;
        transform: translateY(100%);
    }



    &__content {
        height: 100vh;
        width: 100vw;
        @include flex-center;

        flex-direction: column;

        transition: $transition-1;

    }

    &__circle {
        width: 112px;
        height: 112px;
        border-radius: $radius-circle;
        border: 3px solid $white;
        border-block-start-color: $smoky-black-1;
        margin-bottom: 45px;
        animation: rotate360 1s linear infinite;



        @keyframes rotate360 {

            0% {
                transform: rotate(0);
            }

            100% {
                transform: rotate(1turn);
            }

        }
    }



    &__text {

        background-image: $loading-text-gradient;
        background-size: 500%;
        font-size: 3.6rem;
        line-height: 1rem;
        text-transform: uppercase;
        letter-spacing: 16px;
        padding: 16px;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-stroke: 0.5px $eerie-black-3;
        animation: loadingText linear 2s infinite;


        @keyframes loadingText {
            0% {
                background-position: 100%;
            }

            100% {
                background-position: 0%;
            }

        }

    }


}


/**********************Section Top Bar**********************/
/**********************Section Top Bar**********************/
/**********************Section Top Bar**********************/


.topbar {



    &__content {
        margin: 12px 16px;
        position: relative;
        display: flex;

        height: fit-content;


        @include sm {
            &::before {
                position: absolute;
                content: '';
                background-color: $davys-grey;
                width: calc(100% + 32px);
                margin-left: -15px;
                height: 1px;
                bottom: -12px;
            }

        }




        @include sm {
            justify-content: center;
        }

        @include lg {
            justify-content: space-between;
        }


    }


    &__right,
    &__left {

        display: flex;
        gap: 30px;

        @include lg {
            gap: 10px;
        }

        @include xl {
            gap: 30px;
        }

        .wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 6px;

            display: none;

            p {
                font-size: 14px;
            }


            cursor: pointer;

            i {
                display: flex;
                font-size: $icon-size;
            }

            transition: $transition-1;




        }
    }




    &__left {

        @include lg {

            .wrapper {
                display: flex;
            }


        }

    }

    &__right {

        .wrapper {

            @include sm {
                display: flex;
            }

            &:hover {
                color: $gold-crayola;
                transition: $transition-1;
            }

        }


        @include lg {
            justify-content: flex-end;
        }
    }

}


/**********************Section Navbar**********************/
/**********************Section Navbar**********************/
/**********************Section Navbar**********************/

.header {

    position: fixed;
    width: 100%;

    .container {
        max-width: unset;
    }

    &__content {
        margin: 20px 20px;

        width: 100%;

        @include sm {
            margin: 40px 20px
        }



        @include flex-center;
        justify-content: space-between;
    }

    .menu {
        position: fixed;
        top: 0;
        left: -360px;
        height: 100vh;
        width: 360px;
        background-color: #0E0D0B;

        padding: 0 30px;

        display: flex;
        flex-direction: column;

        overflow-y: scroll;


        transition: $transition-2;
        z-index: 10;

        &.active {
            transition: $transition-2;
            transform: translateX(360px);
        }

        &__logo {
            align-self: center;
            margin: 80px 0;


        }

        &__close-btn {
            position: absolute;
            top: 25px;
            right: 25px;

            cursor: pointer;


            i {
                font-size: 20px;
                border: 1px solid $white;
                border-radius: 50%;
                padding: 2px;
                transition: $transition-1;

                &:hover {
                    transition: $transition-1;
                    color: $gold-crayola;
                    border-color: $gold-crayola;

                }

            }

        }

        &__list {
            display: flex;
            flex-direction: column;


            margin-bottom: 80px;

            text-transform: uppercase;
            font-size: $fontSize-body-4;


            border-block-end: 1px solid $white-alpha-20;

        }

        &__item {

            transition: $transition-1;

            border-block-start: 1px solid $white-alpha-20;
            padding-block: 10px;


            a {
                position: relative;
                transition: $transition-1;

                &:hover {
                    color: $gold-crayola;
                    padding-left: 25px;
                    transition: $transition-1;

                    @include rotate-square;
                }


            }

            &.active {

                color: $gold-crayola;

                a {

                    position: relative;
                    padding-left: 25px;

                    @include rotate-square;
                }

            }





        }



    }


    &__buttons {


        .btn {
            display: none;
        }



        .nav-open-btn {

            cursor: pointer;


            .line {
                width: 3.2rem;
                height: .2rem;
                background-color: $white;
                margin: 0.5rem;

                transform-origin: left;
                animation: menuBtn 400ms ease-in-out alternate infinite;
            }

            @keyframes menuBtn {
                0% {
                    transform: scaleX(1);
                }

                100% {
                    transform: scaleX(0.5);
                }
            }

            .line-1 {
                animation-delay: 150ms;
            }

            .line-2 {
                animation-delay: 300ms;
            }


        }


    }
}