//Section Hero

.hero 
    .container 
        .row 
            .col-12.col-lg-12
                .hero__content#home 
                    .hero__slider(data-hero-slider="")
                        .hero__slide.active(data-hero-slider-item="")
                            h3.slide__subtitle Tradational & Hygine
                            h1.slide__title For the love of delicious food
                            p.slide__p Come with family & feel the joy of mouthwatering food
                            .btn.btn--hero
                                span.text.text-1 View Our Menu  
                                span.text.text-2(aria-hidden='true') View Our Menu  
                        .hero__slide(data-hero-slider-item="")
                            h3.slide__subtitle delightful experience
                            h1.slide__title Flavors Inspired by the Seasons
                            p.slide__p Come with family & feel the joy of mouthwatering food
                            .btn.btn--hero
                                span.text.text-1 View Our Menu  
                                span.text.text-2(aria-hidden='true') View Our Menu   
                        .hero__slide(data-hero-slider-item="")
                            h3.slide__subtitle amazing & delicious
                            h1.slide__title Where every flavor tells a story
                            p.slide__p Come with family & feel the joy of mouthwatering food
                            .btn.btn--hero
                                span.text.text-1 View Our Menu  
                                span.text.text-2(aria-hidden='true') View Our Menu    
                    .hero__button 
                        .btn.btn--slider.prev(data-prev-btn="") 
                            i.ri-arrow-left-s-line
                        .btn.btn--slider.next(data-prev-next="")
                            i.ri-arrow-right-s-line
                    .hero__image 
                        a(href="#")
                            img(src="/assets/img/hero-icon.png", alt="")
                            span Book a Table          
                            









