//Section Hero

.hero 
    .container 
        .row 
            .col-12.col-lg-12
                .hero__content#home 
                    .hero__slider(data-hero-slider="")
                        .hero__slide.active(data-hero-slider-item="")
                        
                            .hero__bg
                            h3.slide__subtitle.slider-reveal Tradational & Hygine
                            h1.slide__title.slider-reveal For the love of delicious food
                            p.slide__p.slider-reveal Come with family & feel the joy of mouthwatering food
                            .btn.btn--hero.slider-reveal 
                                span.text.text-1 View Our Menu  
                                span.text.text-2(aria-hidden='true') View Our Menu  
                        .hero__slide(data-hero-slider-item="")
                            .hero__bg.hero__bg--2
                            h3.slide__subtitle.slider-reveal delightful experience
                            h1.slide__title.slider-reveal Flavors Inspired by the Seasons
                            p.slide__p.slider-reveal Come with family & feel the joy of mouthwatering food
                            .btn.btn--hero.slider-reveal
                                span.text.text-1 View Our Menu  
                                span.text.text-2(aria-hidden='true') View Our Menu   
                        .hero__slide(data-hero-slider-item="")
                            .hero__bg.hero__bg--3
                            h3.slide__subtitle.slider-reveal amazing & delicious
                            h1.slide__title.slider-reveal Where every flavor tells a story
                            p.slide__p.slider-reveal Come with family & feel the joy of mouthwatering food
                            .btn.btn--hero.slider-reveal
                                span.text.text-1 View Our Menu  
                                span.text.text-2(aria-hidden='true') View Our Menu    
            .hero__button 
                        .btn.btn--slider.prev(data-prev-btn="") 
                            i.ri-arrow-left-s-line
                        .btn.btn--slider.next(data-next-btn="")
                            i.ri-arrow-right-s-line
            .hero__image 
                            a(href="#")
                                img(src="/assets/img/hero-icon.png", alt="")
                                span Book a Table    
.l Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe sint sed harum necessitatibus ad ipsa dicta temporibus debitis cum animi labore ducimus, at quae aspernatur ullam voluptatem perferendis. Quisquam atque, ipsa totam placeat molestias, dolores unde similique temporibus animi culpa blanditiis dolorum repudiandae reiciendis? Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, molestias amet fugiat placeat consectetur dolorem laborum omnis enim unde? Odio tempore corporis doloremque veniam possimus commodi nulla dolore exercitationem eaque nostrum. Atque cumque sint eos quasi non nulla doloremque ipsum exercitationem laborum nihil autem sequi pariatur deserunt voluptate magnam delectus amet placeat dicta vel illum ratione, corrupti consequatur! Praesentium in perferendis veniam, saepe voluptate eum corporis repellat minus magnam incidunt dolor odio! Neque quaerat quo autem rem magnam ex molestiae iste repellat. Odit quibusdam, deserunt, quidem et culpa, nesciunt cupiditate nam nostrum quasi alias voluptas doloremque iusto facilis numquam? Magnam expedita doloribus tempore amet nam repellat sequi similique quae et, eum, aliquid minima quo esse a eius laborum inventore veniam unde! Optio, quam voluptatibus animi sapiente, non magnam eum harum dignissimos soluta libero architecto similique molestias? In laborum deserunt quo et molestiae quam esse, repellat recusandae dolorum illo dolor quia dolores sint, minus, non neque? Dicta omnis, at beatae eligendi amet illo ipsum possimus maxime iusto illum nulla provident ex ipsa magnam soluta assumenda? Nulla distinctio, sequi incidunt aspernatur iure enim nobis. Quae cum nemo aspernatur quo. Minima ipsam id velit quos dicta. Reprehenderit unde nemo, odio fugiat voluptatem natus corrupti! Officia alias aperiam sunt veniam omnis? Magni ab obcaecati consequatur, eos corrupti expedita facilis molestiae suscipit nesciunt ullam tenetur magnam accusamus eum dicta aliquam debitis impedit voluptatum, consectetur nulla quibusdam animi quae sequi necessitatibus ratione. Repellat sint odio, ullam architecto debitis ex suscipit quidem optio provident nulla harum omnis velit doloribus eos impedit rem quas eligendi dolores iure laboriosam! Odio corrupti, asperiores maiores ratione quis unde, consequuntur repellendus iste quidem quasi dolores, eos illo quae nobis explicabo blanditiis exercitationem accusantium atque voluptatibus. Placeat commodi tenetur nisi ipsa distinctio nulla doloribus, quos magni odit dicta dolore, maiores, velit repellendus! Rem autem natus vero eos ad, temporibus eaque mollitia inventore sapiente facere iure totam ullam consequatur amet labore dolores, aperiam illo cupiditate saepe ipsam commodi, quod quae? Perspiciatis eligendi vero magni, in optio repudiandae, rem tenetur quidem necessitatibus doloremque maxime expedita illum corrupti velit nisi voluptates alias nam? A, similique nulla. Accusamus illum laudantium ut. Dolorum quod adipisci, earum repellendus illo facilis id tempore quo minima perspiciatis soluta nihil aut a exercitationem debitis. Dolores voluptatum expedita fugit rerum amet tempora, molestiae et culpa facilis eveniet ex enim, consequatur quis itaque minima! Officia nam sunt delectus adipisci, a repudiandae minima doloremque voluptates deleniti mollitia possimus dignissimos iure labore autem aliquid rerum quibusdam quidem, itaque in deserunt id, cum voluptate exercitationem quos? Laboriosam facilis praesentium odio corporis quam distinctio animi doloremque aperiam esse ut voluptas optio saepe accusantium deleniti officiis voluptates qui illum, commodi explicabo sint eaque!                                 
                            









