//Footer

footer.footer 
    .container 
        .row 
            .col-12.col-lg-12 
                .footer__content
                    span Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime animi veritatis eligendi nemo, quas dolores ea voluptate ipsam enim cupiditate explicabo nobis, aut impedit, itaque ad nostrum mollitia numquam iure quisquam commodi corporis repellat? Et odit accusantium deleniti eius quasi est fugiat dolorem incidunt nulla sapiente natus quaerat, veniam sed! Eaque autem suscipit natus voluptatum et, eius hic illum dignissimos dolor corporis nam sequi sapiente laborum aut eligendi velit rerum? Eaque labore rerum tempore similique delectus fugit hic possimus, in optio magni, quam nostrum cupiditate, neque maiores suscipit magnam deleniti repellat unde vel fugiat nemo. Sunt nostrum eius earum necessitatibus temporibus accusantium nulla expedita perferendis magni debitis fugiat voluptatibus, quia similique quaerat reiciendis consequatur dignissimos error officiis quo mollitia ex repellat sint. Eius cum est nesciunt necessitatibus quidem natus officia repellendus, aspernatur corporis nam eaque labore, recusandae velit placeat optio distinctio, quos doloremque provident ea totam incidunt suscipit iure illo odio? Dolores voluptatibus asperiores commodi. Consequatur pariatur quia nisi veniam provident expedita officiis nulla incidunt explicabo suscipit, voluptatibus repudiandae laboriosam, quis fugit corrupti! Cupiditate doloribus, veniam, nihil blanditiis autem similique consectetur aspernatur praesentium assumenda totam incidunt nostrum fugit. Quasi consectetur, accusamus aliquam autem tenetur debitis! Sit, voluptas fugiat accusantium dicta delectus eligendi alias, temporibus animi dolore maxime tempora modi doloremque. Esse odit maiores illum rerum, veniam consequatur accusantium accusamus eos et minus non sunt velit, laudantium nihil ab exercitationem ipsam magnam, similique quisquam sed in. Deserunt ipsum explicabo quae laborum dolorem eveniet repudiandae neque aspernatur minus laboriosam! Voluptate debitis rerum dolore sit eveniet inventore iste consectetur id numquam quas iusto quaerat quis illum enim aliquid quod vitae veritatis officia sequi, ipsum doloribus. Consequatur, quo. Adipisci, quod quidem omnis eveniet unde placeat, atque magni, magnam repellendus excepturi labore ex cupiditate nostrum quam beatae praesentium aut expedita deserunt quaerat ea. Eligendi voluptates totam voluptatem ratione maxime magni. Repudiandae ipsam, debitis sapiente porro cupiditate facilis! Ipsa voluptatibus, dignissimos iste non esse voluptate eligendi numquam ipsum aperiam nesciunt eum sunt ex amet quisquam pariatur exercitationem ducimus nobis dicta hic aliquid ab! Quas repudiandae sunt perspiciatis recusandae velit earum fugit. Vero, voluptatibus distinctio. Adipisci sit aspernatur doloribus repellat, ullam dicta. Optio amet, fuga quisquam placeat, fugit nulla possimus perspiciatis consequuntur neque, atque aliquam. Provident, corrupti similique ducimus laudantium libero velit tempora labore architecto repellat iste, natus sint temporibus! Totam ipsum cumque tempora magni quas provident nisi, ab id ad sed iusto esse molestias quis nobis quidem repellendus quae repudiandae omnis aperiam, eius inventore sapiente enim architecto. Quas adipisci esse sint, minus quidem possimus beatae incidunt dolorum enim totam culpa, tempora maiores sunt in cupiditate, ipsa corrupti. Voluptates possimus esse officiis exercitationem a, minus odio temporibus aperiam fugit, impedit perspiciatis.



























script(src="assets/js/main.min.js")