//Footer

footer.footer 
    .container 
        .row 
            .col-12.col-lg-12 
                .footer__content
                    .footer__top 
                        .footer__logo 
                            a.logo(href="") 
                                img(src="./assets/img/logo.svg", alt="")
                        .footer__text  
                            p.footer__p Restaurant St, Delicious City, London 9578, UK
                            a.footer__link booking@grilli.com
                            p.footer__phone Booking Request : +88-123-123456      
                            p.footer__p Open : 09:00 am - 01:00 pm
                            .testimonials__separator 
                                span
                                span 
                                span   
                            h3.footer__title Get News & Offers
                            p.footer__subtitle 
                                | Subscribe us &amp; Get       
                                span 25% Off.
                              

                           
                            form.form__wrapper(action='')
                                .form__input
                                    i.ri-mail-open-fill
                                    input.form__input(type='email' name='email_address' placeholder='Your email' autocomplete='off')
                                .btn.btn--header
                                    span.text.text-1 Subscribe
                                    span.text.text-2(aria-hidden='true') Subscribe      


                                                                                                    

                                                            



























script(src="assets/js/main.min.js")