//Footer

footer.footer 
    .container 
        .row 
            .col-12.col-lg-12 
                .footer__content
                    .footer__top.first 
                        .footer__logo 
                            a.logo(href="") 
                                img(src="./assets/img/logo.svg", alt="")
                        .footer__text  
                            p.footer__p Restaurant St, Delicious City, London 9578, UK
                            a.footer__link booking@grilli.com
                            p.footer__phone Booking Request : +88-123-123456      
                            p.footer__p Open : 09:00 am - 01:00 pm
                            .testimonials__separator 
                                span
                                span 
                                span   
                            h3.footer__title Get News & Offers
                            p.footer__subtitle 
                                | Subscribe us &amp; Get       
                                span 25% Off.
                              

                           
                            form.form__wrapper(action='')
                                .icon__input
                                    input.form__input(type='email' name='email_address' placeholder='Your email' autocomplete='off')
                                    i.ri-mail-open-fill
                                .btn.btn--header
                                    span.text.text-1 Subscribe
                                    span.text.text-2(aria-hidden='true') Subscribe      
                    ul.footer__table.second 
                            li.footer__list 
                                  a.footer__link(href="") 
                                    span HOME
                            li.footer__list 
                                  a.footer__link(href="") 
                                    span MENUS
                            li.footer__list 
                                  a.footer__link(href="") 
                                    span ABOUT US
                            li.footer__list 
                                  a.footer__link(href="") 
                                    span OUR CHEFS
                            li.footer__list 
                                  a.footer__link(href="") 
                                    span CONTACT                                
                    ul.footer__table.last 
                            li.footer__list 
                                  a.footer__link(href="") 
                                    span FACEBOOK
                            li.footer__list 
                                  a.footer__link(href="") 
                                    span INSTAGRAM
                            li.footer__list 
                                  a.footer__link(href="") 
                                    span TWITTER
                            li.footer__list 
                                  a.footer__link(href="") 
                                    span YOUTUBE
                            li.footer__list 
                                  a.footer__link(href="") 
                                    span GOOGLE MAP         
                .footer__bottom     
                    h3 Page made as part of the exercises, 
                    span Krzysztof Siek     
//BTN Back to Top                  

a.back-top(href="#top")(data-back-top-btn="") 
  .ri-arrow-up-fill



                                                                                                    

                                                            



























script(src="assets/js/main.min.js")