/********************Margin auto**********************/
@mixin margin-auto {
    margin: {
        left: auto;
        right: auto;
    }
}


//@include margin-auto;



/********************Absolute centering**********************/


@mixin center($position) {
    position: absolute;

    @if $position =='vertical' {
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    @else if $position =='horizontal' {
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translate(-50%);
    }

    @else if $position =='both' {
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}


//@include center(both); //   @include center(vertical); // @include center(horizontal);


/********************Gradient**********************/

@mixin background-gradient($start-color, $end-color, $orientation) {
    background: $start-color;

    @if $orientation =='vertical' {
        background: -webkit-linear-gradient(top, $start-color, $end-color);
        background: linear-gradient(to bottom, $start-color, $end-color);
    }

    @else if $orientation =='horizontal' {
        background: -webkit-linear-gradient(left, $start-color, $end-color);
        background: linear-gradient(to right, $start-color, $end-color);
    }

    @else {
        background: -webkit-radial-gradient(center, ellipse cover, $start-color, $end-color);
        background: radial-gradient(ellipse at center, $start-color, $end-color);
    }
}



//  @include background-gradient(#3498db, #2c3e50, horizontal);


/********************Flex center**********************/


@mixin flex-center($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}


/********************After Rotate Square**********************/


@mixin rotate-square() {
    &::before {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        border: 1px solid $gold-crayola;

        transition: $transition-1;

        bottom: 50%;
        left: 0;

        transform: translate(0, 50%) rotate(45deg);


        @include xl {
            display: none;


        }


    }
}

/********************Rotatte Hover image**********************/
@mixin rotate-hover {

    position: relative;

    &::before {
        position: absolute;
        content: '';
        top: -6%;
        left: 50%;
        transform: translateX(-50%);
        width: 140px;
        height: 90%;
        background-image: url('../img/img-pattern.svg');
        z-index: -1;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: $transition-2;
        transition-delay: 0;
        will-change: transform;


        @include lg {
            top: -8%;
        }

    }


    &:is(:hover, :focus-within)::before {
        transform: rotateY(0.5turn) translateX(50%);
        transition-delay: 300ms;
    }
}



/********************Shane Hover**********************/

@mixin shane-hover {

    position: relative;


    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background-image: linear-gradient(to right, transparent 0%, #fff6 100%);
        transform: skewX(-0.08turn) translateX(-180%);
        max-width: 360px;
        z-index: 1;



    }

    &:is(:hover, :focus-within)::after {
        transform: skewX(-0.08turn) translateX(275%);
        transition: $transition-3;
    }
}




/********************Hover two lines bottom**********************/


@mixin hover-two-lines($bottom) {

    position: relative;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: $bottom;
        width: 100%;
        height: 5px;
        border-block: 1px solid $gold-crayola;
        transform: scaleX(0.2);
        opacity: 0;
        transition: $transition-2;

    }

    &:is(:hover, :focus-visible)::after {
        transform: scaleX(1);
        opacity: 1;
    }

}




/********************Max Width Height image **********************/


@mixin img-max-wh($object-fit) {
    width: 100%;
    height: 100%;

    object-fit: $object-fit;

    img {
        width: 100%;
        height: 100%;

        object-fit: $object-fit;
    }
}



/********************Annimations **********************/


@mixin smoothScale {

    @keyframes smoothScale {
        0% {
            transform: scale(1.15);
        }

        100% {
            transform: scale(1.30);


        }


    }

}

@mixin rotate360 {
    @keyframes rotate360 {
        0% {
            transform: rotate(0);
        }

        100% {
            transform: rotate(1turn);
        }
    }
}


@mixin sliderReveal {
    @keyframes sliderReveal {
        0% {
            transform: translateY(30px);
            opacity: 0;
        }

        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

}

@mixin move {
    animation: move 5s linear infinite;

    @keyframes move {

        0%,
        100% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(30px);
        }
    }
}